.LogoSearch {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.LogoSearch>div{
  display: flex;
  gap: 0.75rem;
}

.LogoSearch>div>img{
  width: 2.5rem;
  height: 2.5rem;
}


.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}

.Search>input {
  background-color: transparent;
  border: none;
  outline: none;
}

.Search>input::placeholder {
  color: rgb(189, 188, 188);
}

.Search>input:valid {
  color: rgb(189, 188, 188);
}

.s-icon>button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var( --buttonBg);
  border-radius: 5px;
  padding: 4px;
  color: rgba(68, 68, 68, 0.856);
  border: none;
}

.suggested-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.4rem;
  margin-top: 1rem;
  overflow: auto;
  max-height: 6rem;
  padding-top: 5px;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight:400;
  margin: -5px 0px;
  font-size: 1rem;
  width: 100%;
  padding: 5px 0px;
}

.even{
  background-color: rgba(199, 199, 199, 0.32);
  color :rgba(205, 205, 205, 0.856)
}

.odd{
  background-color: rgba(77, 77, 77, 0.673);
  color :rgba(205, 205, 205, 0.856)
}

.user:hover{
  background-color: rgb(243, 243, 243);
  color :rgba(96, 96, 96, 0.856)
}